.chat-main {
    display: flex;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.inside-chat{

    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap-15{
    gap: 15px;
}